{% extends 'hello/base.html' %}

{% block title %}ユーザー登録{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-4">

        <h1 class="mb-4">
            ユーザー登録
        </h1>

        {% if error_message %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        {% endif %}

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">
                    ユーザー名
                </label>

                <input type="text"
                       name="username"
                       class="form-control">

            </div>

            <div class="mb-3">

                <label class="form-label">
                    パスワード
                </label>

                <input type="password"
                       name="password"
                       class="form-control">

            </div>

            <button type="submit"
                    class="btn btn-primary">
                登録
            </button>

        </form>

    </div>

</div>

{% endblock %}